.products-category-wrap {
  margin: 30px 0 20px;

  .cat-name {
    font-size: 20px;
    padding-left: 20px;
    font-weight: 500;
    margin: 20px 0 5px;
  }

  .horizontal-product-card-wrap {
    padding: 10px;
  }

  .prod-img-cover {
    box-shadow: 0px 5px 20px #9e9e9e87;
  }

  .service-list-cover {
    background-color: #ffffff7a;
    position: relative;
    margin-bottom: 15px;
    border-radius: 6px;
    padding: 10px 10px 5px;
    border: 1px solid #fcfafb;
    box-shadow: 0px 5px 10px #e8e8e8;
  }

  .product-cover {
    margin-bottom: 0;
    padding: 0;
    border-bottom: unset;
  }
}

@import url(https://fonts.googleapis.com/css?family=Lato:700);

/* common */
.ribbon {
  width: 85px;
  height: 85px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 4px solid var(--primary-color-opacity);
}

.ribbon span {
  position: absolute;
  display: block;
  width: 115px;
  padding: 5px 0;
  background-color: var(--primary-color-opacity);
  box-shadow: 1px 4px 17px var(--primary-color-shadow);
  color: rgb(0, 0, 0);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.123);
  text-align: center;
  font-size: 10px;
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-top-right::before {
  top: 0px;
  left: 9.2px;
}

.ribbon-top-right::after {
  bottom: 9.2px;
  right: 0;
}

.ribbon-top-right span {
  left: 1px;
  top: 20px;
  transform: rotate(45deg);
}
